:root {
  --background-color: #f2f2f2;
  --navbar-color: #232226;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

a,
u {
  text-decoration: none;
  color: gainsboro;
}

.container {
  display: flex;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 30px;
  padding-left: 40px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: whitesmoke;
  background-color: var(--navbar-color);
  transition-duration: 280ms;
  transition-delay: 50ms;
}

nav > * {
  visibility: hidden;
  opacity: 0; /* Start fully transparent */
  transition: opacity 280ms ease-in-out, visibility 0s linear 280ms;
}

nav:hover {
  width: 30rem;
}

nav:hover > * {
  visibility: visible;
  opacity: 1; /* Fully visible */
  transition: opacity 200ms ease-in-out, visibility 0s linear 0s;
}

.page_tabs {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 50px;
}

#minimize_button {
  margin-top: auto;
  margin-bottom: 50px;
}

.page {
  width: 100%;
  padding: 40px;
}
