:root {
  --background-color: #f2f2f2;
  --navbar-color: #232226;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.container {
  display: flex;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 16rem;
  background-color: var(--navbar-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: whitesmoke;
  padding-left: 40px;
}

.page_tabs {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 50px;
}

#minimize_button {
  margin-top: auto;
  margin-bottom: 50px;
}

.page {
  flex-grow: 1;
  padding: 40px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
}

.overview div {
  border-radius: 15px;
}

.overview__balance-cards {
  display: flex;
  flex: 1 0 100%;
  justify-content: space-between;
}

.overview__balance-cards > div {
  width: 300px;
  height: 70px;
  padding: 30px;
  background-color: aliceblue;
}

#curr-bal-card {
  background-color: var(--navbar-color);
  color: white;
}
