<h2 class="app-title">finance</h2>
<div class="page-tabs">
  <a id="overview-anc" href="http://localhost:5500/index.html">Overview</a>
  <a id="transactions-anc" href="http://localhost:5500/html/transactions.html"
    >Transactions</a
  >
  <a id="budgets-anc" href="http://localhost:5500/html/budgets.html">Budgets</a>
  <a id="pots-anc" href="http://localhost:5500/html/pots.html">Pots</a>
  <a id="bills-anc" href="http://localhost:5500/html/recurring-bills.html"
    >Recurring Bills</a
  >
</div>
<a id="minimize-button"
  >Minimize Menu<img
    width="50px"
    height="50px"
    src="../../images/Open.png"
    class="open-logo"
/></a>
