<div class="user-profile">
  <img
    src="https://avatar.iran.liara.run/public/34"
    alt="Profile Picture"
    class="profile-picture"
    loading="lazy"
  />
  <span class="user-name">John Doe</span>
  <a id="login-anc" href="http://localhost:5500/html/login.html">Login</a>
</div>
<div class="page-tabs">
  <a id="overview-anc" href="http://localhost:5500/index.html">Overview</a>
  <a id="transactions-anc" href="http://localhost:5500/html/transactions.html"
    >Transactions</a
  >
  <a id="budgets-anc" href="http://localhost:5500/html/budgets.html">Budgets</a>
  <a id="pots-anc" href="http://localhost:5500/html/pots.html">Pots</a>
  <a id="trend-anc" href="http://localhost:5500/html/trend-analysis.html"
    >Trend Analysis</a
  >
</div>
<a id="minimize-button"
  ><span class="minimize-text">Minimize Menu</span
  ><img
    width="50px"
    height="50px"
    src="../../images/maximize.png"
    class="maximize-logo"
/></a>
