// General Layout Styles
.overview {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;

  h2 {
    height: fit-content;
    margin: 0;
  }

  > * {
    gap: 30px;
  }

  div {
    border-radius: 15px;
  }
}

// Balance Overview Section
.balance-overview-cards {
  display: flex;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 70px;
    padding: 30px;
    background-color: aliceblue;

    &:nth-child(1) {
      background-color: var(--navbar-color);
      color: white;
    }
  }
}

// Amount Field
.amount-field {
  > strong {
    font-size: x-large;
  }
}

// Financial Overview Section
.financial-overview {
  display: flex;
  flex: 1;

  > * {
    gap: 30px;
  }

  > div {
    display: flex;
    flex-direction: column;

    > div {
      padding: 30px;
      background-color: aliceblue;
    }

    &.left-section {
      flex: 1.3;
    }

    &.right-section {
      flex: 1;
    }
  }

  // Cards in Financial Overview
  #pots-card {
    flex: 1;
  }

  #transactions-card {
    flex: 3;
  }

  #budgets-card {
    flex: 1.75;
  }

  #bills-card {
    flex: 1.5;
  }
}
